:root{
  --backgroundImage: url(../images/pexels-todd-trapani-2276928.jpg);
  --glassBackground: rgba(255, 255, 255, 0.2);
  --glassBorder: border: 1px solid rgba(255, 255, 255, 0.3);
  --blur: blur(3px);
  --borderRadius: 16px;
  --glassBorder2px:2px solid rgba(255, 255, 255, 0.3);
  --categoryimage: 120px;
  --logoSize: 150px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: var(--backgroundImage);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom:20px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  height: 2.5rem;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgb(199, 199, 199)
}
.top-img{
  /* z-index: -1;
  position: absolute;
  height: auto;
  width: 100vw; */
  display: none;
}
footer a{
  text-decoration:none;
  color:rgb(199, 199, 199)
}
.socialmediaicon{
  height: 20px;
  width: auto;
}
.socialmedia a{
  margin: 5px;
}
.socialmedia{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden{
  display: none;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  top: 0;
  width: 95%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlogo{
  margin-top: 6%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--logoSize);
  width: var(--logoSize);
}
.navlogo img{
  height:var(--logoSize);
}
.mainpage{
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.Specialareas{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.Specialareas h2{
  margin-bottom: 10%;
}
.pagecontent{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.pagecontent img{
  width: 100%;
  height: 50%;
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionimage img{
  height: var(--categoryimage);
  width: var(--categoryimage);
  border-radius: 50%;
  border: var(--glassBorder2px);
  transition: all 0.2s ease-in-out;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  background-color: var(--glassBackground);
}
.sectionimage img:hover{
  scale: 1.1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.sectiontext{
  display: flex;
  flex-wrap: wrap;
}
.additionalinfo{
  border: var(--glassBorder2px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 30vh;
  border-radius: 20px;
  padding: 20px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: wrap;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  background-color: var(--glassBackground);
}
.additionalinfo button{
  background-color: rgba(255, 255, 255, 0.4);
  border: var(--glassBorder);
  border-radius: var(--borderRadius);
  padding: 10px;
  max-width: 200px;
  font-size: 1rem;
}
.additionalinfo>h3{
  font-size: 1.9vh;   
}
.navbuttons{
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbuttons button{
  border: var(--glassBorder);
  background: var(--glassBackground);
  border-radius: var(--borderRadius);
  backdrop-filter: var(--blur);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: white;
}
.navbuttons button:hover{
  text-decoration: underline;
}
.contentElements{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
.contentElements>div{
  font-size: 1.6vh;
  height: 40%;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  text-align: center;
}
.contentElements a{
  text-decoration: none;
  color: black;
}
/* Här under är klasserna till startsidan */
.pagevideo video{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  object-fit: cover;
}
.centeredlogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 100vw;
}
.centeredlogo a img{
  height: 30vh;
  width: auto;
}
.ESDlogo{
  height: 50%;
  width: auto;
  transition: all 0.4s ease-in-out;
  filter: blur(0.5px);
}
.ESDlogo:hover{
  scale: 1.2;
}


