:root{
  --backgroundImage: url(../images/pexels-todd-trapani-2276928.jpg);
  --glassBackground: rgba(255, 255, 255, 0.2);
  --glassBorder: 1px solid rgba(255, 255, 255, 0.3);
  --blur: blur(3px);
  --borderRadius: 16px;
  --glassBorder2px:2px solid rgba(255, 255, 255, 0.3);
}
body{
  padding: 0;
  margin: 0;
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dddce1;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size:  100% 100%;
  background-size:  100% 100%;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
  min-height: calc(-webkit-fill-available + env(safe-area-inset-top));
  width: 100vw;
  min-height: -webkit-fill-available;
  width: 100%;       
  width: -webkit-fill-available;           
  min-height: -webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); /* Mozilla-based browsers will ignore this. */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom:20px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  height: fit-content;
  background: transparent;
  line-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vmin;
}
footer a, footer p{
  text-decoration:none;
  color:white
}
.top-img{
  /* position: absolute;
  top:0;
  height: auto;
  width: 100%; */
  display: none;
}
.socialmediaicon{
  height: 20px;
  width: auto;
}
.socialmedia a{
  margin: 5px;
}
.socialmedia{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--glassBackground);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  border-radius: 5px;
}
.hidden{
  display: none;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar{
  height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 2%;
}
.navlogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 50%;
}
.navlogo p{
  margin: 0;
}
.navlogo img{
  height: 10vh;
}
.mainpage{
  display: flex;
  height: 70vh;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pagecontent{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.sectionimage img{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: var(--glassBorder2px);
  background-color: var(--glassBackground);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
}
.sectionimage img:active{
  scale: 1.1;
}
.sectiontext{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.additionalinfo{
  border: var(--glassBorder2px);
  background-color: var(--glassBackground);
  height: 30vh;
  width: 90%;
  border-radius: 16px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: wrap;
  text-align: center;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur)
}
h3, h2{
  margin: 0;
}
.additionalinfo button{
  background-color: rgba(255, 255, 255, 0.4);
  border: var(--glassBorder);
  border-radius: var(--borderRadius);
  padding: 10px;
  max-width: 200px;
  font-size: 1rem;
}
.contentElements{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.contentElements>div{
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contentElements>div:first-child{
  font-size: 1.8vh;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
@media  screen and (max-width:680px) {
  .contentElements>div:first-child{
    font-size: 1.6vh;
  }
}
@media  screen and (max-width:542px) {
  .contentElements>div:first-child{
    font-size: 1.5vh;
  }
}
@media  screen and (max-width:466px) {
  .contentElements>div:first-child{
    font-size: 1.4vh;
  }
}
@media  screen and (max-width:424px) {
  .contentElements>div:first-child{
    font-size: 1.3vh;
  }
}
@media  screen and (max-width:364px) {
  .contentElements>div:first-child{
    font-size: 1.2vh;
  }
}
@media  screen and (max-width:320px) {
  .contentElements>div:first-child{
    font-size: 1.1vh;
  }
}
@media  screen and (max-width:252px) {
  .contentElements>div:first-child{
    font-size: 0.9vh;
  }
}
.contentElements a{
  text-decoration: none;
  color: black;
}
/* Här under är klasserna till startsidan */
.pagevideo video{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  object-fit: cover;
}
.centeredlogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 100vw;
}
.centeredlogo a img{
  height: 30vh;
  width: auto;
}
.ESDlogo{
  height: 50%;
  width: auto;
  transition: all 0.4s ease-in-out;
  filter: blur(0.5px);
}
.ESDlogo:hover{
  scale: 1.2;
}
.Specialareas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (orientation: landscape) and (max-height: 768px) {
  .contentElements>div{
    font-size: 1.5dvw;
  }
  .navbar{
    width: fit-content;
    height: 80dvh
  }
  .navlogo img{
    height: 20dvw;
  }
  .mainpage{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
  }
  .Specialareas{
    width: 40%;
  }
  .section{
    width: 50px;
  }
  .pagecontent{
    display: grid;
    width: 40%;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 20%;
  }
  .additionalinfo{
    width: 30%;
    height: 80%;
    border: none;
  }
  .navlogo p{
    display: none;
  }
}


